// Team Filter Styles
// Variables for team names
$teams: "Bees", "Blobfish", "Ligers", "Echidnas";

// About team filter section
.about-team_filter-section {
  // Filter label container - hidden by default
  .about-team_filter-label-container {
    display: none;
  }

  // Hide .filter-label_card_close when either it is checked, or no input Team is checked
  &:has(input[name="Team"]:checked:not([value="Close"]))
    or
    &:has(input[name="Team"]:checked:disabled) {
    .filter-label_card_close {
      display: none;
    }
  }

  // Show filter label container when any radio button other than "close" is checked
  &:has(input[name="Team"]:checked:not([value="Close"])) {
    .about-team_filter-label-container {
      display: block;
    }

    // Hide all animal icons by default when any radio is checked
    .filter-label_animal-icon {
      display: none;
    }
  }

  // Show specific animal icons based on checked radio buttons
  @each $team in $teams {
    &:has(input[value="#{$team}"]:checked) {
      .filter-label_animal-icon[hc-filter-team="#{$team}"] {
        display: block;
      }
    }
  }
}
