/* Our Work Page */
#our-work-filter-list {
  opacity: 0;
  transition:
    opacity 0.3s ease,
    display 0s ease 0.3s; // Delay display change until after opacity transition
  display: none;
  &.is-visible {
    opacity: 1;
    transition:
      opacity 0.3s ease,
      display 0s ease 0s; // Delay display change until after opacity transition
    display: block;
  }
}
