// Animated underline link for footer links

.animated-underline-link {
  position: relative;
  text-decoration: none;

  cursor:
    url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='15' fill='none'%3E%3Cpath d='M25.707 8.207a1 1 0 0 0 0-1.414L19.343.429a1 1 0 1 0-1.414 1.414L23.586 7.5l-5.657 5.657a1 1 0 0 0 1.414 1.414l6.364-6.364ZM0 8.5h25v-2H0v2Z' fill='%23262626'/%3E%3C/svg%3E")
      0 0,
    auto;

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: currentColor;
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 0.3s ease;
  }

  &:hover {
    &::before {
      transform: scaleX(1);
    }
  }

  // Combo class for external links
  &.is-external {
    cursor:
      url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19.385' height='19.385' viewBox='4.596 -13.374 19.385 19.385' fill='none'%3E%3Cpath d='M23.981-12.374v-.553l-.448-.447H13.43l-.448.447v1.105l.448.448h8.552v8.552l.448.448h1.104l.448-.448v-9.552L6.011 6.01l17.677-17.677-1.414-1.414L4.596 4.596 6.01 6.01' fill='%23262626'/%3E%3C/svg%3E")
        0 0,
      auto;
  }

  // Combo class for email links
  &.is-email {
    cursor:
      url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='29' height='30' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='m21.885 8.546-15.97 15.97L4.5 23.102l15.97-15.97 1.708-1.707 1.414 1.414-1.707 1.707Z' fill='%23262626'/%3E%3Cpath stroke='%23262626' stroke-width='2' d='m15.46 19.92-4.243 4.243M9.096 13.556l-4.242 4.243'/%3E%3Cpath d='M22.828 6.188 19.023 19.24 9.776 9.994l13.052-3.806Z' stroke='%23262626' stroke-width='2' stroke-linejoin='round'/%3E%3C/svg%3E")
        15 15,
      auto;
  }
}
